<div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="Infografia Interactiva BOA II" frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/654aa70a3a475c0010261d43" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center">
  
      <h2 class="text-3xl font-bold mb-12 text-center">Ultimos Publicados</h2>
  
      <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
        <div class="mb-6 lg:mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/FHndpCp/80d0e240-2a68-4298-88c0-a92e496d47d0.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://drive.google.com/file/d/1j3mi3E-J9Cx_tUvF0yD3Z0_hMMGg039C/view?usp=drive_link">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Dibujo Anatomico</h5>
            <div class="mb-3 text-red-600 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Publicado <u>13.01.2022</u> por
                <a href="" class="text-gray-900">Mariana Bustillos</a></small>
            </p>
            <p class="text-gray-500">
              Un curso que enseña las bases para dibujar el cuerpo humano en proporciones ideales sin necesidad de modelo, partiendo del dibujo de líneas y círculos.
          </div>
        </div>
  
        <div class="mb-6 lg:mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/3TKk3Cg/086177b2-375d-4e38-b1be-ac5b47e40786.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://www.youtube.com/watch?v=3Ec5EW7yb_o">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Diseño Interactivo</h5>
            <div class="mb-3 text-blue-600 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Published <u>12.01.2022</u>
                <a href="" class="text-gray-900"></a></small>
            </p>
            <p class="text-gray-500">
              En este curso, aprenderás los conceptos, las herramientas y las metodologías para diseñar y desarrollar artefactos que pongan al usuario como principal protagonista del proceso de diseño y le permitan interactuar de manera más eficiente e intuitiva con determinados productos y servicios.
            </p>
          </div>
        </div>
  
        <div class="mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/JB2pcLj/183fd11d-d3a4-4acf-9afe-882f599813f3.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://drive.google.com/file/d/1DEZbKOEQC9XEt_J4f9vPvnBIlYW3me8y/view?usp=drive_link">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Programación Web</h5>
            <div class="mb-3 text-yellow-500 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Published <u>10.01.2022</u> por
                <a href="" class="text-gray-900">Isayana Sánchez</a></small>
            </p>
            <p class="text-gray-500">
              En este curso, aprenderás los conceptos, las herramientas y las técnicas para diseñar y desarrollar sitios web de forma práctica y eficiente. El desarrollo web es una disciplina que se ocupa de la creación de plataformas e interfaces digitales para el intercambio de información y el aprendizaje.
            </p>
          </div>
        </div>
      </div>
  
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->

  <div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center">
      <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
        <div class="mb-6 lg:mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/kDcbnQw/a8e9750e-48e4-4d82-b74d-045daf9058ad.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://www.youtube.com/watch?v=sekxanyTmGM">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Adobe Ilustrador</h5>
            <div class="mb-3 text-red-600 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Publicado <u>13.01.2022</u>
                <a href="" class="text-gray-900"></a></small>
            </p>
            <p class="text-gray-500">
              En este curso, aprenderás los conceptos, las herramientas y las técnicas para dominar el software de diseño gráfico más potente y versátil del mercado.
          </div>
        </div>
  
        <div class="mb-6 lg:mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/nsdVq1X/e87fbc5b-bb96-43a8-9c60-a89fe9ec99d6.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://drive.google.com/file/d/1y21wab0nTvg8UpA-uVJuRwgAN9beAVRx/view?usp=drive_link">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Medios Audio Visuales</h5>
            <div class="mb-3 text-blue-600 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Published <u>12.01.2022</u> 
                <a href="" class="text-gray-900"></a></small>
            </p>
            <p class="text-gray-500">
              En este curso, aprenderás los conceptos, las herramientas y las técnicas para producir y realizar proyectos audiovisuales de diversos géneros y formatos, como el cine, la televisión, el video, la radio, el podcast, el videojuego, la realidad virtual y la realidad aumentada. 
            </p>
          </div>
        </div>
  
        <div class="mb-0">
          <div>
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/SmrbsST/e512b9c5-cc34-45ac-a5c5-48f5cfca40d8.jpg"
                class="w-full" alt="Louvre" />
              <a href="https://www.youtube.com/watch?v=b57RP-Czww8">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </a>
            </div>
  
            <h5 class="text-lg font-bold mb-3">Adobe Premier Pro</h5>
            <div class="mb-3 text-yellow-500 font-medium text-sm flex items-center justify-center">
            </div>
            <p class="text-gray-500 mb-6">
              <small>Published <u>10.01.2022</u> 
                <a href="" class="text-gray-900"></a></small>
            </p>
            <p class="text-gray-500">
              En este curso, aprenderás los conceptos, las herramientas y las técnicas para crear proyectos audiovisuales de alta calidad con adobe premier. El adobe premier es un software de edición de vídeo que te permite trabajar con múltiples formatos, efectos, transiciones, títulos, sonidos y mucho más.
            </p>
          </div>
        </div>
      </div>
  
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->

<!-- End your project here-->

