
<!-- Jumbotron -->

<div style="width: 100%; padding-top: 0%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Presentacion Interactiva - Creatix" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65551cdf303f3f00114cc7ab" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>


<!-- Grid -->
<div class="container mx-auto mb-16" style="padding-top: 10%;">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-12">

    <!-- Column 1 -->
    <div
         class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
      <div class="relative overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init data-te-ripple-color="light">
        <img class="rounded-t-lg" src="https://i.ibb.co/FHndpCp/80d0e240-2a68-4298-88c0-a92e496d47d0.jpg" alt="" />
        <a href="#!">
          <div
               class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
          </div>
        </a>
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Diujo Anatomico
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Si te gusta el arte y quieres aprender a dibujar el cuerpo humano con realismo y expresividad, este curso de dibujo anatómico es para ti.
        </p>
        <button type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200">
          Empecemos!
        </button>
      </div>
    </div>
    <!-- Column 1 -->

    <!-- Column 2 -->
    <div
         class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
      <div class="relative overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init data-te-ripple-color="light">
        <img class="rounded-t-lg" src="https://i.ibb.co/fpjz0KM/8aebee57-c324-4240-b402-a6d59564b50a.jpg" alt="" />
        <a href="#!">
          <div
               class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
          </div>
        </a>
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Diseño Interactivo 
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ¿Te gustaría aprender a crear productos o servicios digitales que sean funcionales, atractivos y satisfagan las necesidades de los usuarios? Entonces, este curso de diseño Interactivo es para ti.
        </p>
        <button type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200">
          Empecemos! 
        </button>
      </div>
    </div>
    <!-- Column 2 -->

    <!-- Column 3 -->
    <div
         class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
      <div class="relative overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init data-te-ripple-color="light">
        <img class="rounded-t-lg" src="https://i.ibb.co/GRcjDyB/a3cc0735-6d48-44a7-8cca-cb8ba9086fe3.jpg" alt="" />
        <a href="#!">
          <div
               class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
          </div>
        </a>
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Programación Web 
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ¿Te gustaría aprender a crear páginas web profesionales, atractivas y funcionales? Entonces, este curso de diseño web es para ti. En este curso, aprenderás los conceptos, las herramientas y las técnicas para diseñar y desarrollar sitios web de forma práctica y eficiente. El diseño web es una disciplina que se ocupa de la creación de plataformas e interfaces digitales para el intercambio de información y el aprendizaje1
        </p>

        <button type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200">
          Empecemos!
        </button>
      </div>
    </div>
    <!-- Column 3 -->

  </div>
</div>



